

#top-nav {
    background: #313131;
}
a {
    color: #fff !important;
}

.jumbotron {
    position: relative;
    background:url("../images/image2.png") top center;
    background-size: cover;
    /* margin: 1em; */
    padding-top: 10em;
    padding-bottom:22em; 
    border-radius: 0 !important;
}

#logo {
    color: #fff;
}

.card-body {
    background: #313131 !important;
    color:#fff;
}

#zip-code{
    margin-left: 5px;
}
p{
    color: #fff;
}
img{
    width: 500px;
}

.weather{
    text-align: center;
}

#trail {
    text-align: center;

}