

#top-nav {
    background: #313131;
}
a {
    color: #fff !important;
}

.jumbotron {
    background:url("../images/julian-hochgesang-jyoTLVMv9So-unsplash\ copy.jpg") top center;
    background-size: cover;
    /* margin: 1em; */
    padding-top: 25em;
    padding-bottom:25em;
}

